/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#styling
 */

$accentColor = #f59949
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.sidebar-heading {
    color: #2c3e50
}

.sidebar-heading.open {
    color: #f59949
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1
}
